article:first-of-type {
    margin: 310px 0 0 0;
    padding: 40px 15px 0 15px;
    background: var(--color-default);
    display: grid;
    grid-template-columns: 1fr 280px 30px 660px 1fr;
    position: relative;
    bottom: 0;
    z-index: 3;

    section[data-section=proj-nav] {
        grid-column: 2;
        padding: 0 0 80px 0;

        aside {
            position: sticky;
            top: 80px;
        }
    }

    section[data-section=proj-display] {
        grid-column: 4;
        padding: 0 0 80px 0;
    }

    @media (max-width: 991px) {
        margin: calc(310px + 55px) 0 0 0;
        padding: 15px 15px 0 15px;
        display: block;
        bottom: 55px;

        section[data-section=proj-nav] {
            padding: 0 0 16px 0;

            aside {
                position: relative;
                top: 0;
            }
        }

        section[data-section=proj-display] {
            padding: 0;
        }
    }

    @media (max-width: 767px) {
        margin: 55px 0 0 0;
    }
}

article:last-of-type {
    position: relative;
    z-index: 2;

    section[data-section=summary-contact] {
        width: 100%;
        padding: 0 15px;
        display: grid;
        grid-column: 1 / span 5;
        grid-template-columns: 1fr calc(970px / 2) calc(970px / 2) 1fr;
        background: var(--color-summary);
        position: fixed;
        bottom: 40px;
        left: 0;
        opacity: 0;
        pointer-events: none;

        &.visible {
            opacity: 1;
            pointer-events: initial;
        }

        @media (max-width: 991px) {
            padding: 0 15px;
            display: block;
            position: relative;
            opacity: 1;
            pointer-events: initial;
        }
    }
}