nav {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    background: var(--color-default);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: height 0.15s ease-in-out;

    *:not(span) {
        height: inherit;
    }

    body.scrolled & {
        height: 40px;
    }

    ul {
        height: inherit;
        width: 100%;
        max-width: 991px;
        background: transparent;
        margin: 0 auto;
        justify-content: flex-start;

        li {
            border-right: 1px solid var(--color-linear);
            border-bottom: none;

            &:first-of-type {
                border-left: 1px solid var(--color-linear);
                border-bottom: none;
            }

            a {
                height: inherit;
                padding: 0 20px 10px 20px;
                color: var(--color-text);
                text-decoration: none;
                display: flex;
                align-items: flex-end;
                position: relative;
                transform: perspective(1px) translateZ(0);

                &::before {
                    content: "";
                    background: var(--color-linear);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    transform: scaleX(0);
                    transform-origin: 50%;
                    transition: transform 0.2s ease-out;
                }

                &.active::before {
                    background: var(--color-linear-active);
                }

                &.active::before,
                &:hover::before,
                &:focus-visible::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    @media (max-width: 991px) {

        ul {
            justify-content: center;
        }
    }

    @media (min-width: 768px) {

        ul {
            display: flex !important;
        }
    }

    @media (max-width: 767px) {
        height: 40px;
        padding: 40px 0 0 0;

        ul {
            height: calc(100vh - 80px);
            background: var(--color-default);
            display: none;

            li {
                height: initial;
                border-right: none;
                border-bottom: 1px solid var(--color-linear);

                &:first-of-type {
                    border-top: 1px solid var(--color-linear);
                }

                a {
                    padding: 10px 15px;
                    display: block;

                    &:not(.active):hover::before {
                        transform: scaleX(0);
                    }
                }
            }
        }
    }
}

a.trigger-mobile-menu {
    height: 30px;
    width: 30px;
    display: none;
    position: absolute;
    top: 5px;
    right: 15px;

    span {
        height: 2px;
        width: calc(100% - 12px);
        background: var(--color-text);
        display: block;
        pointer-events: none;
        position: absolute;
        left: 6px;
        transition: all 0.2s ease-out;

        &:nth-of-type(1) {
            top: 50%;
            transform: translateY(calc(-50% - 6px)) rotate(0deg);
        }

        &:nth-of-type(2) {
            opacity: 1;
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-of-type(3) {
            top: 50%;
            transform: translateY(calc(-50% + 6px)) rotate(0deg);
        }
    }

    &.open {

        span {

            &:nth-of-type(1) {
                top: 50%;
                transform: translateY(calc(-50% - 0rem)) rotate(135deg);
            }
    
            &:nth-of-type(2) {
                opacity: 0;
            }
    
            &:nth-of-type(3) {
                top: 50%;
                transform: translateY(calc(-50% + 0rem)) rotate(225deg);
            }
        }
    }

    @media (max-width: 767px) {
        display: block;
    }
}