article {
    margin: 310px 0 0 0;
    padding: 40px 0 0 0;
    background: var(--color-default);
    display: grid;
    grid-template-columns: 1fr 280px 30px 640px 1fr;
    position: relative;
    z-index: 2;

    section[data-section=proj-nav] {
        grid-column: 2;
        height: 1000px;
        padding: 0 0 80px 0;

        aside {
            position: sticky;
            top: 80px;
        }
    }

    section[data-section=proj-display] {
        grid-column: 4;
        padding: 0 0 80px 0;
    }

    section[data-section=summary-contact] {
        grid-column: 1 / span 5;
        height: 500px;
        background: var(--color-summary);
    }
}