@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--list ul, ol;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: var(--color-default);
    position: relative;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

:--list {
    list-style-type: none;
}

:--heading {
    margin-block: 0;
}

img {
    max-width: 100%;
    display: block;
}