:root {
    --font-family: system-ui, sans-serif;
    --font-family-heading: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

    --color-default: rgb(242, 242, 242);
    --color-summary: rgb(229, 229, 229);
    --color-linear: rgba(0, 0, 0, 0.1);
    --color-linear-active: rgba(0, 0, 0, 0.035);
    --color-text: rgb(64, 64, 64);
    --color-heading: rgb(155, 89, 182);
    --color-focus: rgba(255, 140, 0, 1);
}